<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/images/ironLogo.png" width="30" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link" href="/works">Works</a>
                        <a class="nav-link active" href="/gallery">Gallery</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="masthead d-flex align-items-center">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-4 col-md-12 mb-4">
                    <img src="/images/brandon.webp" class="img-fluid mb-4" alt="">
                    <img src="/images/mistborn.jpg" class="img-fluid mb-4" alt="" data-wow-delay="0.3s">
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="/images/novelas.jpg" class="img-fluid mb-4" alt="" data-wow-delay="0.1s">
                    <img src="/images/the-way-of-kings.jpg" class="img-fluid mb-4" alt="" data-wow-delay="0.4s">
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="/images/mistborn2.jpg" class="img-fluid mb-4" alt="" data-wow-delay="0.5s">
                    <img src="/images/rueda.jpg" class="img-fluid mb-4" alt="" data-wow-delay="0.2s">
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.js" type="text/javascript"></script>
</body>

</html