<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/images/ironLogo.png" width="30" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link active" href="/works">Works</a>
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="masthead d-flex align-items-center">
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card text-white bg-dark h-100">
                        <img src="/images/elantris.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Elantris</h5>
                            <p class="card-text">Elantris es la novela con la que Sanderson debutó el año 2005, así que es muy buena opción para empezar. Además, es perfecto para aquellos no tan acostumbrados al género de fantasía épica. Es un único volumen, por lo tanto, un buen comienzo para tantear el estilo de Sanderson y a partir de aquí, decidir si vale la pena invertir tu tiempo en sus libros y adentrarte en una de sus sagas.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-dark h-100">
                        <img src="/images/nacidos.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nacidos de la Bruma</h5>
                            <p class="card-text">Nacidos de la Bruma (Mistborn) es la segunda saga de fantasía épica creada por Sanderson y está compuesta de siete libros (de momento). El primero se titula El Imperio Final y también forma parte del Cosmere del autor: en este caso, nos vamos al planeta Scadrial, un mundo volcánico donde llueven cenizas. Sin duda, la serie de novelas más populares de Brandon Sanderson y que han ayudado a posicionarlo como uno de los escritores de fantasía más importantes de este siglo. </p>
                            <p class="card-text">Después del Imperio Final, siguen la serie El Pozo de la Ascensión y El Héroe de las Eras, que cierran la llamada Era 1 de la saga Nacidos de la Bruma. </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-dark h-100">
                        <img src="/images/aliento.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">El aliento de los dioses</h5>
                            <p class="card-text">Seguimos con nuestro orden recomendado para los libros de Brandon Sanderson: después de una larga saga, quizás necesitarás respirar un poco, así que El aliento de los dioses es muy buena opción, la segunda novela del autor, ya que de momento es una única historia (aunque Sanderson ha mencionado que tiene intención de seguirla en un futuro).</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-dark h-100">
                        <img src="/images/camino.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">El archivo de las tormentas</h5>
                            <p class="card-text">¡De vuelta a una saga! El archivo de las tormentas consta de tres libros de momento, ya que la idea de Sanderson es construir una serie de diez novelas. El Camino de Reyes abre esta saga, y el propio Sanderson lo considera su obra magna. Junto a Nacidos de la Bruma, es el conjunto de obras más popular del autor. Palabras radiantes y Juramentada forman la continuación de la saga.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-dark h-100">
                        <img src="/images/arcanum.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Arcanum ilimitado</h5>
                            <p class="card-text">Para terminar este post sobre el orden recomendado de los libros de Brandon Sanderson, una novela que juega en otra liga: Arcanum ilimitado. Se trata de una recopilación de diferentes relatos, solo aptos para los más seguidores que deberán dejar este libro para el final si quieren un conocimiento completo. En la página web de Cosmere, recomiendan leerlo después del segundo libro de El archivo de tormentas, Palabras radiantes, ya que Arcanum ilimitado incluye una historia (Danzante del Filo) que puede ayudar para la lectura del tercer volumen, Juramentada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.js" type="text/javascript"></script>
</body>

</html>