#biography .image-biography {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  display: flex;
  overflow: hidden;
  margin-right: 50px;
}

#biography .image-biography img {
  width: 400px;
  object-fit: cover;
  object-position: top;
}

body {
  color: white !important;
}

.masthead {
  min-height: calc(100vh - 59px);
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(#0000003d, #0000003d), url("/images/descarga.jfif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
